services:
    master:
        build:
            context: .
            dockerfile: master/Dockerfile.master
        ports:
            - "50050:50050"
        networks:
            - query_network
        depends_on:
            worker1:
                condition: service_started
            worker2:
                condition: service_started

    worker1:
        build:
            context: .
            dockerfile: worker/Dockerfile.worker
        ports:
            - "50051:50051"
        environment:
            - DATABASE_HOST=db1
        networks:
            - query_network
        depends_on:
            db1:
                condition: service_healthy

    worker2:
        build:
            context: .
            dockerfile: worker/Dockerfile.worker
        ports:
            - "50052:50051"
        environment:
            - DATABASE_HOST=db2
        networks:
            - query_network
        depends_on:
            db2:
                condition: service_healthy

    db1:
        image: postgres:16
        environment:
            POSTGRES_USER: user
            POSTGRES_PASSWORD: password
            POSTGRES_DB: distributed_db
        volumes:
            - ./db/init-db1.sql:/docker-entrypoint-initdb.d/init.sql
        ports:
            - "54321:5432"
        networks:
            - query_network
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U user -d distributed_db"]
            interval: 5s
            timeout: 5s
            retries: 5

    db2:
        image: postgres:16
        environment:
            POSTGRES_USER: user
            POSTGRES_PASSWORD: password
            POSTGRES_DB: distributed_db
        volumes:
            - ./db/init-db2.sql:/docker-entrypoint-initdb.d/init.sql
        ports:
            - "54322:5432"
        networks:
            - query_network
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U user -d distributed_db"]
            interval: 5s
            timeout: 5s
            retries: 5

networks:
    query_network:
        driver: bridge
