services:
    # api-gateway:
    #     build:
    #         context: .
    #         dockerfile: api-gateway/Dockerfile.gateway
    #     ports:
    #         # Exposes the gateway's HTTP port to your local machine
    #         - "8080:8080"
    #     networks:
    #         - query_network
    #     # This service waits for the master node to start
    #     environment:
    #         - IS_DOCKER=true
    #     depends_on:
    #         - master

    # --- Master Node Service ---
    master:
        build:
            context: ./query-engine
            dockerfile: master/Dockerfile.master
        # The gRPC port is NOT exposed to the host, only to the internal network
        ports:
            - "50050:50050"
        networks:
            - query_network
        depends_on:
            worker1:
                condition: service_started
            worker2:
                condition: service_started

    # --- Worker Node 1 ---
    worker1:
        build:
            context: ./query-engine
            dockerfile: worker/Dockerfile.worker
        ports:
            - "50051:50051"
        environment:
            - DATABASE_HOST=db1
        networks:
            - query_network
        depends_on:
            db1:
                condition: service_healthy

    # --- Worker Node 2 ---
    worker2:
        build:
            context: ./query-engine
            dockerfile: worker/Dockerfile.worker
        ports:
            - "50052:50051"
        environment:
            - DATABASE_HOST=db2
        networks:
            - query_network
        depends_on:
            db2:
                condition: service_healthy

    # --- Database 1 ---
    db1:
        image: postgres:16
        environment:
            POSTGRES_USER: user
            POSTGRES_PASSWORD: password
            POSTGRES_DB: distributed_db
        volumes:
            - ./db/init-db1.sql:/docker-entrypoint-initdb.d/init.sql
        ports:
            - "54321:5432"
        networks:
            - query_network
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U user -d distributed_db"]
            interval: 5s
            timeout: 5s
            retries: 5

    # --- Database 2 ---
    db2:
        image: postgres:16
        environment:
            POSTGRES_USER: user
            POSTGRES_PASSWORD: password
            POSTGRES_DB: distributed_db
        volumes:
            - ./db/init-db2.sql:/docker-entrypoint-initdb.d/init.sql
        ports:
            - "54322:5432"
        networks:
            - query_network
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U user -d distributed_db"]
            interval: 5s
            timeout: 5s
            retries: 5

# --- Shared Network Definition ---
networks:
    query_network:
        driver: bridge
