services:
    # --- API Gateway Service ---
    # api-gateway:
    #     build:
    #         context: .
    #         dockerfile: api-gateway/Dockerfile.gateway
    #     ports:
    #         - "8080:8080"
    #     networks:
    #         - query_network
    #     depends_on:
    #         - master

    # --- Master Node Service ---
    master:
        build:
            context: ./query-engine
            dockerfile: master/Dockerfile.master
        ports:
            - "50050:50050"
        networks:
            - query_network
        depends_on:
            worker1: { condition: service_started }
            worker2: { condition: service_started }
            worker3: { condition: service_started }
            worker4: { condition: service_started }
            worker5: { condition: service_started }
            worker6: { condition: service_started }

    # --- WORKER NODES (1 to 6) ---
    worker1:
        build:
            context: ./query-engine
            dockerfile: worker/Dockerfile.worker
        ports:
            - "50051:50051"
        environment:
            - DATABASE_HOST=db1
        networks:
            - query_network
        depends_on:
            db1: { condition: service_healthy }

    worker2:
        build:
            context: ./query-engine
            dockerfile: worker/Dockerfile.worker
        ports:
            - "50052:50051"
        environment:
            - DATABASE_HOST=db2
        networks:
            - query_network
        depends_on:
            db2: { condition: service_healthy }

    worker3:
        build:
            context: ./query-engine
            dockerfile: worker/Dockerfile.worker
        ports:
            - "50053:50051"
        environment:
            - DATABASE_HOST=db3
        networks:
            - query_network
        depends_on:
            db3: { condition: service_healthy }

    worker4:
        build:
            context: ./query-engine
            dockerfile: worker/Dockerfile.worker
        ports:
            - "50054:50051"
        environment:
            - DATABASE_HOST=db4
        networks:
            - query_network
        depends_on:
            db4: { condition: service_healthy }

    worker5:
        build:
            context: ./query-engine
            dockerfile: worker/Dockerfile.worker
        ports:
            - "50055:50051"
        environment:
            - DATABASE_HOST=db5
        networks:
            - query_network
        depends_on:
            db5: { condition: service_healthy }

    worker6:
        build:
            context: ./query-engine
            dockerfile: worker/Dockerfile.worker
        ports:
            - "50056:50051"
        environment:
            - DATABASE_HOST=db6
        networks:
            - query_network
        depends_on:
            db6: { condition: service_healthy }

    # --- DATABASE NODES (1 to 6) ---
    db1:
        image: postgres:16
        environment:
            {
                POSTGRES_USER: user,
                POSTGRES_PASSWORD: password,
                POSTGRES_DB: distributed_db,
            }
        volumes: ["./db/init-db1.sql:/docker-entrypoint-initdb.d/init.sql"]
        networks: [query_network]
        healthcheck:
            {
                test: ["CMD-SHELL", "pg_isready -U user -d distributed_db"],
                interval: 5s,
                timeout: 5s,
                retries: 5,
            }

    db2:
        image: postgres:16
        environment:
            {
                POSTGRES_USER: user,
                POSTGRES_PASSWORD: password,
                POSTGRES_DB: distributed_db,
            }
        volumes: ["./db/init-db2.sql:/docker-entrypoint-initdb.d/init.sql"]
        networks: [query_network]
        healthcheck:
            {
                test: ["CMD-SHELL", "pg_isready -U user -d distributed_db"],
                interval: 5s,
                timeout: 5s,
                retries: 5,
            }

    db3:
        image: postgres:16
        environment:
            {
                POSTGRES_USER: user,
                POSTGRES_PASSWORD: password,
                POSTGRES_DB: distributed_db,
            }
        volumes: ["./db/init-db3.sql:/docker-entrypoint-initdb.d/init.sql"]
        networks: [query_network]
        healthcheck:
            {
                test: ["CMD-SHELL", "pg_isready -U user -d distributed_db"],
                interval: 5s,
                timeout: 5s,
                retries: 5,
            }

    db4:
        image: postgres:16
        environment:
            {
                POSTGRES_USER: user,
                POSTGRES_PASSWORD: password,
                POSTGRES_DB: distributed_db,
            }
        volumes: ["./db/init-db4.sql:/docker-entrypoint-initdb.d/init.sql"]
        networks: [query_network]
        healthcheck:
            {
                test: ["CMD-SHELL", "pg_isready -U user -d distributed_db"],
                interval: 5s,
                timeout: 5s,
                retries: 5,
            }

    db5:
        image: postgres:16
        environment:
            {
                POSTGRES_USER: user,
                POSTGRES_PASSWORD: password,
                POSTGRES_DB: distributed_db,
            }
        volumes: ["./db/init-db5.sql:/docker-entrypoint-initdb.d/init.sql"]
        networks: [query_network]
        healthcheck:
            {
                test: ["CMD-SHELL", "pg_isready -U user -d distributed_db"],
                interval: 5s,
                timeout: 5s,
                retries: 5,
            }

    db6:
        image: postgres:16
        environment:
            {
                POSTGRES_USER: user,
                POSTGRES_PASSWORD: password,
                POSTGRES_DB: distributed_db,
            }
        volumes: ["./db/init-db6.sql:/docker-entrypoint-initdb.d/init.sql"]
        networks: [query_network]
        healthcheck:
            {
                test: ["CMD-SHELL", "pg_isready -U user -d distributed_db"],
                interval: 5s,
                timeout: 5s,
                retries: 5,
            }

networks:
    query_network:
        driver: bridge
